!DOCTYPE html>
<html>
<head>
	<title>data</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div class="span8">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Latest News</th>
      </tr>
    </thead>
    <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><a href="<%= link[:href] %>"><%= link.text %></a></td>
      </tr>
     <% end %>
    </tbody>
  </table>
</div>
</body>
</html>