<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi </h1>
    <p>
      You have been successfully subscribed to IET updates, we'll be giving you latest and quickest of all official happenings in IET.

      Enjoy. Have a great Day !!!



      --Lalit and Himanshu
        (for IET updates)  
    </p>
  </body>
</html>
