<table style="width:500px;border-collapse:collapse;margin:0 auto">
  <tbody><tr>
    <td>
      <a href="#">
        <img src="<%= image_url('ietlogo.png') %>" alt="ietlogo" width="70" height="70" class="CToWUd">
      </a>
    </td>
    <td style="text-align:right;font-family:sans-serif;font-size:20px;font-weight:300;font-weight:bold">
      <!-- <img src="#" alt="Leaderboard icon" width="65" height="65" class="CToWUd"> -->
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <hr>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="font-family:sans-serif;font-size:16px;font-weight:300;text-align:justify">
      Hi, <br><br>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <p style="font-family:sans-serif;font-size:16px;font-weight:300;text-align:justify">
        You have been successfully subscribed to IET updates, we'll be giving you latest and quickest of all official happenings in IET.
        <br>
      </p>
    </td>
  </tr>

  <tr><td><br></td></tr>

  <tr>
    <td colspan="2">
      <p style="font-family:sans-serif;font-size:16px;font-weight:300;text-align:justify">
      Enjoy. Have a great Day !!!<br><br>
      Thanks for Subscribing.
    </p>
    </td>
  </tr>

  <tr><td><br></td></tr>

  <tr>
    <td colspan="2" style="font-family:sans-serif;font-size:16px;font-weight:300;text-align:justify">
      Regards,<br>
      <span class="il">Lalit and Himanshu</span> <br>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <hr>
    </td>
  </tr>

</tbody></table>